.container {
  width: 50%;
  margin: auto;
  background-color: #f2f2f2;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}
h2 {
  color: #fff;
  background-color: #004b80;
  padding: 10px;
  border-radius: 10px;
}
.table {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.left-column {
  width: 150px;
  text-align: right;
}

.right-column {
  flex-grow: 1;
  margin-left: 20px;
}

p {
  margin: 5px 0;
}

a {
  color: #007bff;
}
